<div class="container-below-banner" >
    <div class="row">
      <div class="col-sm-4">
       <img src="assets/img/salto.png" class="img-fluid" alt="ERS">
        </div>
    <div class="col-sm-8">
        <p>Hace 20 años acabé mis estudios de Psicología en la Universidad de Barcelona y desde entonces he sido como muchos una incansable buscadora del sentido de mi vida, de las cosas y de la conciencia humana. </p>
        <p>En este recorrido me han acompañado muchos maestros, muchas escuelas y muchos compañeros. Desde la Terapia estrictamente Cognitiva Conductual hasta el Rebirthing, pasando por la PNL, la Gestalt y demás escuelas eclécticas y no tan eclécticas: Un curso de milagros, nueva paradigma AVATAR (EEUU), meditación Mindfullness, Escuela de Montse Bradford cocina energética, Proceso Hoffman, YOGA…y un largo recorrido en pequeños eceteras…. </p>
      <p>Como veis mi tren no ha sido un tren de cercanías, aunque a veces lo hubiera agradecido, ha sido un tren de largo recorrido, con paradas largas y paradas más cortas, con bajadas y subidas de pasajeros constantes e incluso con algún que otro accidente. Pero como suelen decir, todos los trenes llegan a su destino,hasta que te das cuenta que no hay destino donde llegar, porque es el tren en si mismo tu destino. </p>
        <p>Pues bien, mi tren hoy en día está repleto de herramientas, y con ganas de abrir sus puertas para todo aquel que desee nutrirse de mi experiencia:<br>Terapia cognitivo-conductual, técnica PNL, Gestalt, Mindfullness, Terapia de Rebirthing… 
        <p><strong><br>¿Te animas a subir a mi tren?</strong></p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3">      
        <h3>EXPERIENCIA PROFESIONAL</h3>
        <p><strong>Junio 2019-Actualidad: APIP ACAM</strong><br>Directora de la Residencia Mas Lluí i de la Llar Hebre</p>
        <p><strong>Junio 2002- 2019:Fundación ESMEN</strong><br>Psicóloga-Coordinadora de los Talleres Ocupacionales para Disminuidos Psíquicos</p>
        <p><strong>Diciembre 2008:Fundación Hospital de Mataró</strong><br>Docente en el curso “Maltrato Infantil” en el centro Foment Mataroní dentro de un programa de inserción laboral</p>
        </div>
        <div class="col-md-3">    
          <h3>FORMACIÓN ACADÉMICA</h3>
            <p><strong>2002: Universidad de Barcelona</strong> Licenciada en Psicología<br></p>
            <p><strong>2006: Universidad de Barcelona</strong> Máster en Terapia Cognitivo-Conductual</p>
            <p><strong>2011: CTUG:</strong> Máster en PNL</p>
            <p><strong>2013: MINDFULNESS.</strong> INSTITUT GESTALT</p>
            <p><strong>2018: Máster en Psicología General Sanitaria (UAB)</strong></p>
        </div>
        <div class="col-md-3">
          <h3>FORMACIÓN CONTINUA</h3>
            <ul>
                <li>SPA: Violencia y agresividad en la discapacidad</li>
                <li>Pere Tarrés: Primeros Auxilios</li>
                <li>ADANA: Introducción al TDAH</li>
                <li>Femarec: Sexualidad en la discapacidad psíquica</li>
                <li>Femarec: Enfermedad Mental y Discapacidad Psíquica.</li>
                <li>Ramon Novell: Diagnósticos en Enfermedad Mental</li>
                <li>Pere Mitjans: Curso de atención a la discapacidad</li> 
             </ul>
        </div>
        <div class="col-md-3">
            <h3>FORMACIÓN COMPLEMENTARIA NO REGLADA </h3>
            <ul>
                <li>Maestria REIKI Tradicional</li>                     
                <li>Rebirthing. Escuela Círculo de Amor</li>
                <li>Cocina Energética. Montse Bradford</li>
                <li>Primer año de Gestalt. Espai SATNAM</li>
                <li>Iniciada en DIKSHA</li>
                <li>Proceso Hoffman: La Molina 2013. Luis Fernando Cámara </li>
                <li>Reflexología Podal: FTN (Federación de Terapias Naturales)</li>
            </ul>
        </div>
        </div>
    </div>