<div class="container-fluid-header">
  <div class="row">
      <div class="col-sm-3">
      <h4><strong>ESTRELLA RIBÓ SALIETTI<br>TERAPIA <br>HOLISTICA<br> INTEGRATIVA</strong></h4>
      </div>
      <div class="col-sm-3">
          <h5>Psicóloga/Terapeuta</h5>           
          <img src="assets/img/dedo.png" class="profile-img img-fluid" alt="ERS">
      </div>
      <div class="col-sm-3">
          <h5>Holística Integradora</h5>
          <img src="assets/img/dedo.png" class="profile-img img-fluid" alt="ERS">
      </div>
      <div class="col-sm-3">
        <h4><strong>ESTRELLA RIBÓ SALIETTI<br>TERAPIA <br>HOLISTICA<br> INTEGRATIVA</strong></h4>
      </div>
  </div> <!------ row1 ------>
  <div class="row">
      <div class="col-sm-4">
      
      </div>
      <div class="col-sm-4">
      <img src="assets/img/construyendo-raises.png" class="psi-img img-fluid" alt="ERS">
      </div>
      <div class="col-sm-4">
      </div>
  </div> <!------ row2---------->
  <div class="row button">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      <button type="button" class="btn-outline-light" data-toggle="collapse" data-target="#demo">CONSTRUYENDO RAÍCES</button>
      <div id="demo" class="collapse">
      <h6>La vida te pide: ACTÚA <br>
      El corazón te susurra: SIENTE <br>
      La brisa te acaricia: FLUYE <br>
      El agua te arrastra: RELÁJATE <br>
      La Tierra te pide: DESPIERTA!!!”</h6>
      </div>
      </div>
      <div class="col-sm-4">
      </div>
  </div> <!------ row2---------->
</div>

<div class="container-fluid-concepto-nuevo" id="Concepto nuevo" >
<div class="row">
    <div class="col-sm-3" id="que-hacer">
        <p><strong>¿Qué hacer cuando la vida se te escapa?</strong><br><br>
          * Salir a pasear,<br>* Prepararte un buen te,<br>* Quedar con una amigo/a,<br>* Hacer deporte,<br>* Respirar profundamente,<br>* Ayudar a alguien<br>O<br>SIMPLEMENTE DEJARTE AYUDAR…..</p>
    </div>
    <div class="col-sm-6">
        <img src="./assets/img/naranja1.png" class="naranja-img-fluid" alt="ERS"  >
        <div class="carousel-caption">
            <h6>“Empieza a actuar, sientiendo tu corazón, dejándote llevar por el fluir de los acontecimientos, relajándote en tu propia esencia y despertando a una nueva conciencia del SER.”</h6>
          </div>
    </div>
    <div class="col-sm-3" id="bienvenido">
        <p><strong>TERAPIA HOLISTICA INTEGRATIVA<br>Concepto nuevo</strong><br><br>
        ¿No te gustan los despachos raros y los precios elevados?<br>Tómate un te conmigo,<br> en un lugar donde tu quieras,<br> donde te sientas cómodo,<br> pon un precio al tiempo.....<br><br>Bien bienvenido/a!!<br></p>
    </div>
<!--</div>-->
</div> <!--------container----------->
