body{
    font-family:fantasy;
}
/* ---------------------header-------------------------------------------*/
header,footer {
    text-align: center;
    background-color: #95a698;
    color: #e6c9aa; 
   
}
.profile-img { 
    text-align: justify;
    width: 50%;
    border-radius: 50%;
    }
.psi-img{
    width: 20%;
    height: 50%;
}
header h4{
    color: #d6c5a1;
}
header h5{
    color: black;
}
.btn-default{
    text-align: center;
    
}

/*---------------------header-banner--------------------*/
.img-banner{
    width: 20%;
    height: 40%;
   margin: 20px;
}
a.nav-link.back-home{
    color: black;
}
.container-below-banner{
    background-color:#e6c9aa;
    text-align:left;
    font-size: 1.8rem;
    font-family: cursive;
    padding: 30px;
}

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 355px;
  height: 55%;
  transition: all 0.4s ease 0s;
  transform: translateX(355px);
  background: #e6c9aa;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 355px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
  color: #154f22;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #154f22;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.8rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #154f22;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 355px;
  width: 355px;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #154f22;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #e6c9aa;
}

.menu-toggle:hover {
  background: #154f22;
}
/*------------- carousel --------------------*/
.carousel-img{
    width: 100%;
    height:40%;
    padding:0;
}
.carousel-caption h6{
    color: black;
}
/*----------- concepto nuevo---------------*/
.container-fluid-concepto-nuevo{
    background-color:#e6c9aa;
    font-size: 1.6rem;
}

#que-hacer,#bienvenido{
    padding-top: 30px;
}
p,h3,ul{
 text-align: center;
color: #154f22;
}
/*--------- terapias----------------------*/
.card-deck, .container-cartas{
   background-color:#e6c9aa;
    font-size: 1.6rem;  
}
.card-text, .card-title{
    text-align: center;
color: #154f22;
}

.img-fluid-tcc{
   height:50%;
    width:100%;
}


/*------------------------------------- footer stylish-------------------------------*/

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #d6c5a1;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #d6c5a1;
  text-decoration: none;
}

a {
  color: #154f22;
}

a:hover, a:focus, a:active {
  color: #154f22;
}

