<div class="container-cartas">
  <div class="card-deck">
    <div class="card">
      <br>
      <br>
      <img class="card-img-top" src="assets/img/sobrereiki.jpeg" alt="Card image">
      <br>
      <div class="card-body">
        <p class="card-text">Solo quien se atreve a experimentar se atreve a vivir plenamente</p>
        <h4 class="card-title">REIKI</h4>
        <a href="#" class="stretched-link"></a>
      </div>
    </div> 
      
    <div class="card">
      <br>
      <img class="card-img-top" src="assets/img/pnl.jpeg" alt="Card image">
      <div class="card-body">
        <br>
        <p class="card-text">El primer paso para cambiar es cambiar</p>
        <h4 class="card-title">P.N.L.</h4>
        <a href="#" class="stretched-link"></a>
      </div>
    </div> 
       
    <div class="card">
      <img class="card-img-top" src="assets/img/rebirthing.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">La vida es un suspiro</p>
        <h4 class="card-title">REBIRTHING</h4>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
       
    <div class="card">
      <img class="card-img-top" src="assets/img/mindfulness.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Tan simple como experimentar paso a paso aquí y ahora</p>
        <h4 class="card-title">MINDFULNESS</h4>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
  </div> <!--- card deck-->
  
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/img/sanar.JPEG" alt="Card image">
      <div class="card-body">
        <p class="card-text">“Mente sana in corpore sano”</p>
        <h4 class="card-title">ALIMENTACIÓN ENERGÉTICA</h4>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>

    <div class="card">
      <br>
      <img class="card-img-top" src="assets/img/tcc.jpeg" alt="Card image">
      <div class="card-body">
        <br>
        <p class="card-text">La congruencia entre pensamiento, emoción y acción=Bienestar</p>
        <h4 class="card-title">TERAPIA COGNITIVO CONDUCTUAL</h4>  
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    
    <div class="card">
      <br>
      <img class="card-img-top" src="assets/img/otros.jpeg" alt="Card image">
      <div class="card-body">
        <br>
        <p class="card-text">Toda experiencia es un aprendizaje y todo aprendizaje es una experiencia</p>
        <h4 class="card-title">OTROS.....</h4>
        <a href="#" class="stretched-link"></a>
      </div>
    </div> 
  </div>